<div class="container">
        <div class="row item">
            <div class="col-12">
                <h2>Issuance Logs</h2>
            </div>
            <div class="row item">             
                <div  class="col align-self-end">
                    <mat-form-field>
                            <input matInput  placeholder="Filename" name="fileName"  [(ngModel)]="fileName">
                        </mat-form-field>   
                    
                        <button mat-raised-button color="primary"  (click)="export()">EXPORT TO CSV</button>
            </div>
              
                  </div>
            <div style="padding-bottom: 4px;">
                    
                </div><br>
                <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-balham"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                (gridReady)="onGridReady($event)">
                </ag-grid-angular>
        
          </div>
</div>
<br><br>    